@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  @apply text-gray-200;
  margin-bottom: 90vh;
  @apply max-w-3xl;
  @apply mx-auto;
}

ul, ol {
  @apply list-inside;
  @apply text-justify;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

p {
  @apply my-2;
  @apply text-justify;
}

sl-button {
  @apply fixed;
  @apply left-4;
  @apply top-4;
}

sl-details {
  @apply my-2;
}

sl-details::part(base) {
  @apply border-gray-700;
}

table {
  @apply w-full;
}

table.two-cols td:nth-child(2) {
  @apply text-right;
}

.fraction {
  @apply inline-flex;
  @apply flex-col;
  @apply text-center;
  @apply m-2;
}

.fraction > *:first-child {
  @apply border-b;
  @apply border-solid;
  @apply border-white;
}

.lim {
  @apply inline-flex;
  @apply flex-col;
  @apply text-center;
  @apply m-2;
  vertical-align: sub;
  font-size: smaller;
}

.lim::before {
  content: "lim";
  @apply block;
  vertical-align: baseline;
  font-size: initial;
}

.top-bottom {
  @apply inline-flex;
  @apply flex-col;
  @apply text-center;
  @apply m-2;
}

.top-bottom::before,
.top-bottom::after {
  @apply block;
  vertical-align: sub;
  font-size: smaller;
}

.top-bottom::before {
  content: attr(data-top);
}

.top-bottom::after {
  content: attr(data-bottom);
}

.neg {
  text-decoration: overline;
}

.matrix {
  @apply flex;
  @apply flex-row;
  @apply mx-2;
  @apply my-2;
  @apply text-center;
}

.matrix::before, .matrix::after {
  content: "";
  @apply block;
  @apply w-2;
  @apply border;
  @apply border-solid;
  @apply border-white;
}

.matrix.matrix--flat-border::before,
.matrix.matrix--flat-border::after {
  @apply w-0;
}

.matrix::before {
  @apply border-r-0;
}

.matrix::after {
  @apply border-l-0;
}

.matrix td {
  @apply px-1;
}

.equations {
  @apply flex;
  @apply flex-row;
  @apply relative;
}

.equations::before {
  content: "";
  @apply block;
  @apply border;
  @apply border-solid;
  @apply border-white;
  @apply border-r-0;
  @apply rounded-md;
  @apply rounded-r-none;
  @apply w-2;
}

.equations::after {
  content: "";
  @apply block;
  @apply absolute;
  @apply -left-1;
  @apply top-2/4;
  @apply transform;
  @apply -translate-y-2/4;
  @apply rotate-45;
  @apply bg-black;
  @apply border;
  @apply border-solid;
  @apply border-t-0;
  @apply border-r-0;
  width: 8px;
  height: 8px;
}